/*------------ Fonts ------------*/
@font-face {
    font-weight: normal;
    font-style: normal;

    font-family: "symbols-nerds";
    src: url("../fonts/symbols/symbols-nerds.woff") format("woff"),
    url("../fonts/symbols/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0em;
    margin-left: 0em;

    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-nerds";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;

    speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */



/*------------- scaffolder -----------------*/
html,
body {
    min-width: 900px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #283136;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
}

/*центровщик*/
.container{
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}




/*------------header--------------*/
.page-header{
    padding-top: 27px;
    padding-bottom: 1px;
    background-color: #eee;
    outline: 2px solid red;
}

.main-nav{
    margin-bottom: 43px;
    outline: 2px solid blue;
}

.main-nav__logo{
    float: left;
    height: 56px;
    width: 139px;
    outline: 2px solid red;
}

.main-nav__logo img{
    height: 56px;
    width: 139px;
}

.main-nav__items{
    float: right;
    min-width: 420px;
    margin: 28px 38px 0 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    outline: 2px solid blue;
}

.main-nav__item{
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
}

.main-nav__item:last-child{
    margin-right: 0;
}

.main-nav__item a{
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    outline: 2px solid blue;
}


.main-nav__item a:hover{
    color: #fb565a;
}

.main-nav__item a:active{
    color: #000;
    opacity: .4;
}

.main-nav__item span{
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    outline: 2px solid blue;
}

.main-nav__item--active span::after,
.main-nav__item--active a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fb565a;
}

.main-nav__user-items{
    float: right;
    width: 100px;
    margin: 28px 0 0 0;
    padding: 0;
    list-style: none;
    outline: 2px solid blue;
}

.main-nav__item{
    display: inline-block;
    vertical-align: top;
}

.main-nav__user-item a{
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    outline: 2px solid blue;
}

.main-nav__user-item a:hover {
    color: #fb565a;
}

.main-nav__user-item a:active {
    opacity: .4;
}

.main-nav__user-item .icon-basket{
    margin-right: 15px;
    line-height: 30px;
    font-size: 14px;
    color: #a6a6a6;
}

.main-nav__user-item a:hover .icon-basket{
    color: #fb565a;
}


.main-nav__user-item a:active .icon-basket{
    color: #000000;
    opacity: .4;
}

/*===========slider============*/
.slider{
    position: relative;
    min-height: 310px;
    overflow: hidden;
    outline: 2px solid yellow;
}

.slide__title{
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    margin: 30px 0 18px 0;
    padding: 0;
}

.slide__content{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 0 0 27px 0;
    padding: 0;
}

.btn{
    display: inline-block;
    vertical-align: top;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    color: #fff;
    line-height: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 2px;
}

.btn--slider{
    width: 240px;
    background-color: #fb565a;
}

.slider__input{
    display: none;
}

.slide{
    position: absolute;
    width: 480px;
    padding-right: 400px;
    opacity: 0;
}

.slide__one{
    background: url('../images/slide-1.png') no-repeat right 10px;
}

.slide__two{
    background: url('../images/slide-2.png') no-repeat 640px 13px;
}

.slide__three{
    background: url('../images/slide-3.png') no-repeat right -10px;
}


.slider__input:checked + .slide{
    opacity: 1;
}


.slider-toggles{
    position: absolute;
    top: 205px;
    height: 10px;
    left: 406px;
    z-index: 120;
    font-size: 0;
    outline: 2px solid red;
}

.slider__toggle{
    margin-right: 10px;
}

.slider__toggle span{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #fff;
    margin-right: 9px;
    cursor: pointer;
}

.slider__toggle span:last-child{
    margin-right: 0;
}

#slide-1:checked ~ .slider-toggles .slider__indicator-1::after,
#slide-2:checked ~ .slider-toggles .slider__indicator-2::after,
#slide-3:checked ~ .slider-toggles .slider__indicator-3::after{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c1c1c1;
}

/*------------main--------------*/
main{
    padding-top: 78px;
    padding-bottom: 85px;
    outline: 2px solid red;
}

.page-inner main{
    padding-top: 77px;
    padding-bottom: 70px;
}


/*----------- features -------------*/
.features{
    padding-bottom: 80px;
    margin-bottom: 58px;
    border-bottom: 2px solid #eeeeee;
    outline: 2px solid blue;
}

.feature__item{
    float: left;
    width: 240px;
    margin-right: 80px;
    outline: 2px solid yellow;
}

.feature__item:last-child{
    margin-right: 0;
}

.feature__icon{
    height: 124px;
    width: 240px;
    margin-bottom: 23px;
}

.feature__icon img{
    height: 124px;
    width: 240px;
}

.feature__title{
    line-height: 30px;
    font-size: 18px;
    color: #000;
    font-family: "Roboto", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 14px 0;
    padding: 0;
}

.feature__description{
    line-height: 22px;
    font-size: 15px;
    color: #283136;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    margin: 0 0 26px 0;
    padding: 0;
}

.btn--feature{
    width: 140px;
}

.btn--sites{
    background-color: #fb565a;;
}

.btn--apps{
    background-color: #00ca74;
}

.btn--presentation{
    background-color: #efc84a;
}


/*index-content*/

.index-content{
    margin-bottom: 46px;
}

.content-column{
    margin-bottom: 28px;
    outline: 2px solid blue;
}

.content-column__left{
    float: left;
    width: 590px;
}

.content-column__right{
    float: right;
    width: 240px;
}

.index-content__title{
    line-height: 36px;
    font-size: 36px;
    color: #000;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    margin: 11px 0 17px 0;
    padding: 0;
}

.index-content__text{
    line-height: 22px;
    font-size: 16px;
    color: #283136;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    margin: 0 0 17px 0;
    padding: 0;
}

.content-column__logo-since{
    text-align: center;
    font-size: 0;
}

.content-column__logo-since img{
    height: 75px;
    width: 187px;
    margin-bottom: 17px;
}

.content-column__logo-label{
    text-align: center;
}

.content-column__logo-label span{
    position: relative;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    z-index: 2;
    color: #000;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    padding: 0 14px;
    background-color: #fff;
    text-transform: uppercase;
}

.content-column__logo-label::after{
    content: "";

    position: relative;
    z-index: 1;

    display: block;
    bottom: 17px;

    border-bottom: 2px solid #eee;
}


.working-conditions{
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 23px;
}

.working-conditions--left{
    width: 560px;
    float: left;
}

.working-conditions--right{
    width: 240px;
    float: right;
}

.working-conditions__title{
    line-height: 22px;
    font-size: 16px;
    color: #283136;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
    margin: 0 0 22px;
}

.working-conditions__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.working-conditions__item{
    position: relative;
    line-height: 22px;
    font-size: 16px;
    color: #283136;
    font-weight: 500;
    padding: 0 0 0 37px;
    margin: 0 0 22px;
}

.working-conditions__item::before{
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

/*=========logoblock=============*/
.logo{
    border-bottom: 2px solid #eee;
}

.logo__item{
    float: left;
    width: 209px;
    height: 100px;
    margin-right: 117px;
    margin-bottom: 20px;
}

.logo__item:last-child{
    margin-right: 0;
}

.logo__item a{
    display: block;
    position: relative;
}

.logo__item a:hover .logo__img--link{
    opacity: 0;
}

.logo__item a:hover .logo__img--active{
    opacity: 1;
}

.logo__img--link{
    position: absolute;
    opacity: 1;
}

.logo__img--active{
    position: absolute;
    opacity: 0;
}

.logo__item:nth-child(1) a{
    padding-top: 22px;
    padding-left: 12px
}

.logo__item:nth-child(2) a{
    padding-top: 9px;
    padding-left: 4px;
}

/*------------map--------------*/
.map{
    min-height: 416px;
    margin: 0 auto;
    position: relative;
}

.map img{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -96px;
}

/*------------footer--------------*/
.page-footer{
    padding: 75px 0;
    outline: 2px solid red;
}

.footer-social{
    float: left;
    width: 240px;
    font-size: 0;
    padding-top: 2px;
}

.page-footer__discount{
    float: right;
    width: 560px;
}

.footer-discount__title{
    line-height: 36px;
    font-size: 36px;
    color: #000;
    padding: 0;
    margin: 0 0 10px 0;
}

.footer-discount__content{
    line-height: 22px;
    font-size: 16px;
    color: #283136;
    margin: 0;
}

.social-btn{
    border: 0;
    outline: 0;
    text-decoration: none;
    display: inline-block;
    width: 63px;
    height: 62px;
    margin-right: 25px;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-btn--vk{
    background-image: url("../images/icon-vk.png");
}

.social-btn--fb{
    background-image: url("../images/icon-facebook.png");
}

.social-btn--inst{
    background-image: url("../images/icon-instagramm.png");
}

.social-btn--vk:hover,
.social-btn--fb:hover,
.social-btn--inst:hover {
    background-color: #fb565a;
}

.social-btn--vk:active,
.social-btn--fb:active,
.social-btn--inst:active {
    background-color: #d6494d;
    box-shadow: inset 0 3px 3px rgba(0,0,0, .15);
}


.social-btn:last-child{
    margin-right: 0;
}

/*=====================CATALOG=======================*/
.page-header__title{
    line-height: 48px;
    font-size: 40px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    width: 700px;
    padding-top: 20px;
    margin: 0 auto 80px;
}

.options{
    float: left;
    width: 240px;
    outline: 2px solid yellow;
}
.option{
    border: 0;
    padding: 0;
    margin: 0 0 44px 0;
}

.option__title{
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 14px;
}

/*==================Range=================*/
.range__view{
    position: relative;
    width: 200px;
    height: 24px;
    border-radius: 3px;
    background-color: #f1f1f1;
    font-size: 0;
    padding: 28px 20px;
    margin-bottom: 14px;
}

.range__view::after{
    content: "";
    position: absolute;
    top: 38px;
    left: 20px;
    height: 2px;
    width: 200px;
    background-color: #d7dcde;
    z-index: 1;
}

.range__view::before{
    content: "";
    position: absolute;
    top: 38px;
    left: 20px;
    height: 2px;
    width: 140px;
    background-color: #00ca74;
    z-index: 2;
}

.range__min,
.range__max{
    display: inline-block;
    width: 20px;
    height: 24px;
    background: #fff url("../images/thumb.png");
    border-radius: 50%;
    position: relative;
    z-index: 3;
}

.range__max{
    margin-left: 120px;
}

.option__range-borders{
    width: 240px;
    font-size: 0;
    outline: 2px solid yellow;
}

.option__range-borders label{
    display: inline-block;
    vertical-align: top;
    height: 38px;
    line-height: 22px;
    text-transform: uppercase;
}

.option__range-borders span{
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    color: #283136;
}

.option__range-borders label:first-child{
    margin-right: 17px;
}

.range__value{
    width: 80px;
    height: 38px;
    margin: 0 0 0 10px;
    padding: 0;
    border: 0;
    background-color: #f1f1f1;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    color: #283136;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/*----------------------grid-block--------------*/
.option__items{
    padding: 0;
    margin: 0;
    list-style: none;

}

.option__item{
    height: 25px;
    margin-bottom: 15px;
}

.option__item:last-child{
    margin-bottom: 0;
}

.option__grid-label{
    display: block;
    padding-top: 2px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.option__grid-toggle{
    display: none;
}

/* link */
.option__grid-indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border: 3px solid #c1c1c1;
    border-radius: 50%;
}

.option__grid-toggle:checked + .option__grid-indicator::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 7px;
    height: 7px;
    background-color: #c1c1c1;
    border-radius: 50%;
}

.option__grid-name{
    line-height: 20px;
    font-size: 16px;
    color: #283136;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}

/*  hover   */
.option__grid-indicator:hover{
    border: 3px solid #d5d5d5;
}

.option__grid-toggle:checked + .option__grid-indicator:hover::before{
    background-color: #d5d5d5;
}

.option__grid-name{
    color: #000;
}

/*  disabled    */
.option__grid-indicator:disabled{
    border: 3px solid #e9e9e9;
}

.option__grid-toggle:checked + .option__grid-indicator:disabled::before{
    background-color: #e9e9e9;
}

.option__grid-name{
    color: #283136;
}


/*-------------------feature-block-----------------*/

.option__feature-checkbox{
    display: none;
}

.option__feature-label{
    display: block;
    cursor: pointer;
    color: #283136;
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}

.option__feature-label::before{
    display: inline-block;
    width: 27px;
    margin-right: 8px;
    vertical-align: top;
    content: "\2610";
    font-family: "symbols-nerds";
    font-size: 28px;
    color: #c1c1c1;
}

.option__feature-label:hover::before{
    color: #d5d5d5;
}

.option__feature-label:hover{
    color: #000;
}


.option__feature-label:hover:disabled,
.option__feature-label:hover.disabled {
    color: #283136;
}

.option__feature-label:hover:disabled,
.option__feature-label:hover.disabled {
    color: #283136;
}

.option__feature-checkbox:checked + .option__feature-label:disabled::before,
.option__feature-checkbox:checked + .option__feature-label.disabled::before {
    color: #e9e9e9;
}

.option__feature-checkbox:checked + .option__feature-label::before{
    content: "\2611";
}

.option__feature-checkbox:checked + .option__feature-label:hover::before{
    content: "\2611";
    color: #d5d5d5;
}

.option__feature-checkbox:checked + .option__feature-label:hover{
    color: #000;
}

.form-btn{
    width: 156px;
    margin-top: 10px;
    color: #000;
    line-height: 18px;
    font-size: 12px;
    font-weight: normal;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #f1f1f1;
}

.form-btn:hover{
    background-color: #e5e5e5;
}

.form-btn:active{
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0, .15);
}


/*----------------example-----------------*/

.example{
    float: right;
    padding-top: 4px;
    min-height: 1140px;
    width: 560px;
    font-size: 0;
    outline: 2px solid yellow;
}

.sort{
    margin-bottom: 8px;
}

.sort__title{
    display: inline-block;
    vertical-align: top;
    margin-right: 37px;
    color: #000;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}

.sort__items{
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 0 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.sort__item{
    display: inline-block;
    vertical-align: top;
    margin-right: 46px;
}

.sort__item:last-child {
    margin-right: 0;
}

/*  link*/
.sort__item a{
    color: #cacaca;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    text-decoration: none;
    border-bottom: 1px dotted #00ca74;
}

.sort__item .active{
    color: #000;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}

.sort__item a:hover{
    color: #000;
    border-bottom: 1px solid #00ca74;
}

.sort__item a:active{
    color: #000;
    border-bottom: none;
}

.sort__toggle-items{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.sort__toggle-item{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
}



.sort__toggle-item:last-child{
    margin-right: 0;
}

.sort__toggle-item a{
    color: #c1c1c1;
    line-height: 18px;
    font-size: 23px;
    font-family: "symbols-nerds";
    text-decoration: none;
}

.sort__toggle-item span{
    color: #00ca74;
    line-height: 18px;
    font-size: 23px;
    font-family: "symbols-nerds";
    text-decoration: none;
}

.sort__toggle-item a:hover{
    color: #b5b5b5;
}

.sort__toggle-item a:active{
    color: #000;
}




.example__items{
    font-size: 0;
}

.example__item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 240px;
    height: 270px;
    margin-bottom: 80px;
}

.example__item:nth-child(odd){
    margin-right: 80px;
}

.example__item label{
    cursor: pointer;
}

.example__item-header{
    height: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f1f1f1;
    font-size: 0;
    padding: 10px 12px;
}

.example__item-header div{
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 50%;
    background-color: #fff;
}

.example__item-header div:last-child{
    margin-right: 0;
}

.example__item img{
    height: 240px;
    width: 240px;
}

.example__item-info{
    display: none;
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 50%;
    margin-left: -100px;
    width: 160px;
    height: 140px;
    padding: 30px 20px;
    text-align: center;
    background-color: #fff;
}

.example__item:hover .example__item-info{
    display: block;
}

.example__item:hover .example__item-header{
    background-color: #797979;
}

.example__item-title{
    color: #000;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
}

.example__item-content{
    color: #283136;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}

.btn--example-item{
    width: 140px;
    color: #fff;
    background-color: #fb565a;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}

/*--------------pagination----------------*/

.pagination__items{
    margin: 0;
    padding: 0;

    font-size: 0;

    list-style: none;
}

.pagination__item{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination__item a{
    display: block;
    padding: 8px 14px;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;

    border-radius: 2px;
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
    cursor: pointer;
}

.pagination__item a:hover{
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;

}

.pagination__item:last-child a{
    padding: 8px 27px;
}

.pagination__item:last-child a:active{
    padding: 10px 29px;
}


.pagination__item a:active{
    padding: 10px 16px;
    border: 0;
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0, .15);
}

.pagination__item span{
    display: block;
    padding: 8px 14px;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;

    border-radius: 2px;
    border: 2px solid #f2f2f2;
}

.inner-page main{
    padding-bottom: 67px;
}

/*=====================Inputs=================*/
/*---------------------Sprites----------------*/
/*
input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label{
    position: relative;
    padding-left: 30px;
    line-height: 23px;
    cursor: pointer;
}

input[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 23px;
    background: url(../images/sprites/spritesheet.png) no-repeat -2px -29px;
}

input[type="checkbox"]:checked + label::before{
    background: url(../images/sprites/spritesheet.png) no-repeat -2px -2px;
}



.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-check-on-copy {
    width: 27px;
    height: 23px;
    background-position: -2px -2px;
}

.sprite-icon-check-off-copy {
    width: 23px;
    height: 23px;
    background-position: -2px -29px;
}

.sprite-icon-circle {
    width: 25px;
    height: 25px;
    background-position: -2px -56px;
}

.sprite-icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -2px -85px;
}

*/

/*--------------Icon fonts-------------*/
/*
input[type="checkbox"]{
    display: none;
}


input[type="checkbox"] + label{
  line-height: 23px;
}

input[type="checkbox"] + label::before{
    display: inline-block;
    vertical-align: top;
    width: 27px;
    margin-right: 0;
    line-height: 23px;
    font-family: "symbols-nerds";
    font-size: 23px;
    content: "\2610";
    color: #c1c1c1;
}
*/
/*
input[type="checkbox"]:checked + label::before{
    content: "\2611";
}

*/